html {
    height: 100%;
}

.hi {
    font-size: 20vw;
}

.whole {
    height: 100%;
    width: 100%;
    background-color: blue;
    overflow: hidden;
}

.link {
    height: 10vw;
    width: 10vw;
    background-color: aquamarine;
}