html,
body,
h1 {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
    overflow-x: hidden;
}

nav ul {
    list-style: none;
    z-index: 1;
}

nav {
    width: 100%;
    height: 7vw;
    background-color: #070742;
    align-items: center;
    display: flex;
    justify-content: space-around;
    z-index: 2;
}

@keyframes Mace {
    0% {
        text-shadow: 0.3vw 0.1vw 0.4vw rgba(0, 0, 0, 0);
    }
    15%{
        text-shadow: 0.3vw 0.1vw 0.4vw rgba(150, 150, 150, 0.22);
    }
    35% {
        text-shadow: 0.3vw 0.1vw 0.4vw rgba(224, 224, 224, 0.68);
    }
    55% {
        text-shadow: 0.3vw 0.1vw 0.4vw rgba(245, 245, 245, 0.86);
    }
    75% {
        text-shadow: 0.3vw 0.1vw 0.4vw rgba(203, 203, 203, 0.82);
    }
    100% {
        text-shadow: 0.3vw 0.1vw 0.4vw rgba(0, 0, 0, 0);
    }
}

.m1 {
    /*animation: Mace 1.5s infinite;*/
}
.a1 {
    /*animation: Mace 1.5s infinite;*/
    /*animation-delay: 1s;*/
}
.c1 {
    /*animation: Mace 1.5s infinite;*/
    /*animation-delay: 2s;*/
}
.e1 {
    /*animation: Mace 1.5s infinite;*/
    /*animation-delay: 3s;*/
}

.navigation {
    text-transform: uppercase;
    letter-spacing: 6px;
    color: rgba(204, 200, 200, 0.86);
    font-size: 2.6vw;
    z-index: 2;
}

.nav-Links {
    display: flex;
    justify-content: space-around;
    width: 50%;
    z-index: 1;
}

.nav-Links li {
    list-style: none;
}

.nav-Links a {
    color: #e2e2e2;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 1.7vw;
}

.nav-Links a:hover {
    /*background-color: #5151de;*/
    color: #5151de;
    transition: 0.2s;
}

.burgerMenu {
    display: none;
}

.burgerMenu div {
    width: 4vw;
    height: 0.6vw;
    margin: 1vw;
    background-color: #e2e2e2;
    transition: all 0.7s ease;
}

@media screen and (max-width: 1024px) {
    .nav-Links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .navigation {
        font-size: 3vw;
    }

    .nav-Links {
        font-size: 2vw;
        position: absolute;
        right: 0px;
        height: 67vw;
        top: 6vw;
        background-color: #070742;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-Links li {
        opacity: 0;
    }
    .nav-Links a {
        font-size: 4vw;
    }
    .burgerMenu {
        display: block;
        cursor: pointer;
    }
    .dropdown a:hover{
        transition: 1.3s;
    }
    .nav-active {
        width: 50vw;
    }
    .dropdown1:hover .dropdown {
        display: flex;
        background-color: #5151de;
        transition: 1.3s;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinksFade {
    from {
        opacity: 0;
        transform: translateX(10vw);
    } to {
        opacity: 1;
        transform: translateX(0vw);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-1.1vw, 1.14vw);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-1.1vw, -1.14vw);
}

.dropdown {
    opacity: 0;
    position: absolute;

}

.dropdown a {
    color: #e2e2e2;
    padding: 1vw 1.5vw;
    text-decoration: none;
    display: block;
    margin-top: 1vw;
    transition: 0.5s;
    z-index: 1;
}

.dropdown a:hover {
    background-color: #070742;
    transition: 0.9s;
}

.dropdown1:hover .dropdown {
    display: block;
    opacity: 1;
    background-color: #070742;
    transition: 0.7s;
}

.svg {
    width: 50vw;
    height: 20vw;
    position: absolute;
    margin-top: 10vw;
}
